{% extends "base.html" %}

{% block titulo %} inicio {% endblock %}

{% block contenido %}
<div class="p-5 bg-dark text-white" style="margin: 0; height: 100vh; display: flex; flex-direction: column; justify-content: space-between;">
<div>
<h1 class="display-3">bienvenidos a la pagina de las mejores bandas del metal</h1>
<p class="lead">agregar albums</p>
<hr class="my-2">
<p class="lead">
  <a class="btn btn-primary btn-lg" href="albums" role="button">Iniciar busqueda</a>
</p>
</div>
</div>
{% endblock %}